
.stack0_container
{
    width: 100%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.stack0_box0
{
    width: 25%;
    display: flex;
}

.stack0_box1
{
    width: 25%;
    display: flex;
}